.headerWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
    background-color: #285550;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  .title {
    font-size: 24px;
    margin-left: 10px;
    font-weight: bold;
  }
  .headerWrapper img {
    max-width: 50px;
    max-height: 50px;
  }
  