.categoryDetailsMain{
  margin-top: 20px;
}

.menuPageHeader{
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.headingName{
  display: flex;
  align-items: center;
}

.headingName h3{
  margin-left: 20px;
  margin-top: 2px;
}
.headingName span svg {
  font-size: 17px;
}

.categoryDrinksList {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 20px;
  justify-items: center;
  margin-top: 30px;
}

.ant-tabs-nav-wrap{
  margin-left: 10px !important;
}

.categoryText{
  padding: 10px;
  font-size: 30px;
}

.categoryDrink{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.categoryDrink img {
  width: 160px;
  height: 200px;
  object-fit: cover;
  border-radius: 16px;
}

.categoryDrinkInfo{
  margin-top: 3px;
  margin-left: 5px;
}

.categoryDrinkInfo h3 {
  font-weight: 500;
}

.categoryDrinkInfo p {
  font-weight: 500;
  color: #20bf6b;
}

.ladningPageFooter{
  padding: 25px;
  text-align: center;
  color: rgb(128, 111, 111);
  margin-top: 30px;
}

.categoryDrinkNoImage{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.categoryDrinkNoImage h3 {
  font-weight: 500;
}
