

.categoryDetailsMain{
  background-color: #f5f5f5;
  padding-top: 20px ;
  min-height: 80vh;
}

.menuPageHeader{
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.headingName{
  display: flex;
  align-items: center;
}

.headingName h3{
  margin-left: 20px;
  margin-top: 2px;
}
.headingName span svg {
  font-size: 17px;
}

.categoryDrinksList {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 20px;
  justify-items: center;
  margin-top: 30px;
}

.ant-tabs-nav-wrap{
  margin-left: 10px !important;
}

.categoryText{
  padding: 10px;
  font-size: 30px;
}

.categoryDrink{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.categoryDrink img {
  width: 160px;
  height: 200px;
  object-fit: cover;
  border-radius: 16px;
}

.categoryDrinkInfo{
  margin-top: 3px;
  margin-left: 5px;
}

.categoryDrinkInfo h3 {
  font-weight: 500;
}

.categoryDrinkInfo p {
  font-weight: 500;
  color: #20bf6b;
}

.ladningPageFooter{
  padding: 25px;
  text-align: center;
  color: rgb(128, 111, 111);
  margin-top: 30px;
}

.categoryDrinkNoImage{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 17px;
}

.categoryDrinkNoImage h3 {
  font-weight: 500;
}

.categoryDrinkNoImage {
  background-color: #ffffff;
  padding: 15px; 
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px; 
  transition: transform 0.3s ease-in-out;
}

.categoryDrinkNoImage:hover {
  transform: translateY(-5px);
}

.categoryDrinkNoImage h3 {
  font-size: 16px; 
  font-weight: 700;
  color: #333333;
  margin-bottom: 8px;
}

.categoryDrinkNoImage p {
  font-size: 14px; 
  color: #666666;
}

.categoryDrinkNoImage p.price {
  font-weight: 600; 
  color: #20bf6b; 
}