body {
  margin: 0;
  padding: 0;
}

.categoryDetailsPageWrapper {
  background: linear-gradient(to bottom, #163136, #17292c);
  overflow: hidden;
}

.headerWrapper{
  display: none;
}
.mainHeader {
  display: flex;
}

.backButton {
  position: absolute;
  z-index: 99;
  left: 10px;
}


.backButton svg {
  fill: white;
  margin-top: 30px;
  width: 30px;
}

.menuItemHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  padding-top: 0;
  padding-bottom: 0;
  color: #dcf2f1;
  margin-top: 20px;
  position: relative;
  padding-top: 0;
  margin-top: 0;
  height: 200px;
  justify-content: flex-end;
}

.menuItemHeadingName {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  width: 200px;
  height: 110px;
  color: white;
  align-items: center;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-top: 50px;
  font-size: 23px;
}

.menuItemHeadingName h2 {
  margin-top: 13px;
}
.menuItemHeadingName h3 {
  font-size: 16px;
}
.categoryDetails {
  background-color: #ecf0f1;
  border-top-left-radius: 36px;
  border-top-right-radius: 36px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  padding: 18px;
  min-height: 80vh;
  position: relative;
  z-index: 0;
  display: flex;
  justify-content: center;
  border-radius: 34px 34px 0px 0px;
  -webkit-border-radius: 34px 34px 0px 0px;
  -moz-border-radius: 34px 34px 0px 0px;

}

.oneMenuTableCategory {
  display: flex;
  flex-direction: column;
  color: #93ac93;
  padding: 10px;
  margin-bottom: 72px;
  width: 100%;
  text-align: center;
}

.oneMenuTableCategory h3 {
  padding: 5px;
  font-weight: 500;
}

.categoryDetailsTableDrinks {
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-content: space-between;
  color: black;
}

.coctails {
  display: flex;
  flex-direction: row;
  padding: 5px;
  justify-content: center;
  color: black;
  align-items: center;
}

.categoryDetailsTableDrinks h3 {
  padding: 5px;
  color: black;
}

.categoryDetailsTableDrinks p {
  margin-top: 5px;
  font-size: 1.2rem;
  color: black;
  font-weight: 600;
}

.coctailCategory {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.coctelCategoryPrices {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.coctailCategoryPrices h3 {
  font-size: 15px;
  color: black;
  margin-left: 0;
  padding: 0;
}

.categoryDetails p {
  font-size: 12px;
}

.coctailCategory:first-child p {
  text-align: center;
  word-wrap: break-word;
  padding: 3px;
}

.coctelCategoryPrices p {
  text-align: left;
  font-size: 16px;
  font-weight: 900;
}

.coffeeImage img {
  width: 100%;
  position: absolute;
  height: 200px;
  z-index: 0;
  object-fit: cover;
}

.coctailImage {
  width: 300px;
  height: 200px;
  border-radius: 12px;
  object-fit: cover;
}

.coctelCategoryPrices h3 {
  padding: 8px;
}
